@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Google Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

body {
  background-color: #eceff4;
  color: #3b4252;
}

a {
  color: #154c5e;
}

code {
  font-family: "IBM Plex Mono", monospace;
  background-color: #afe8e7;
  color: black;
  font-size: 0.8em;
}

main {
  inline-size: min(50ch, calc(100% - 1rem));
  margin: 2rem auto;
}

.lead {
  font-size: 1.33em;
}

table {
  margin: 2rem -12rem;
  border: 1px solid rgb(0 0 0 / 30%);
}

th, td {
  border: 1px solid rgb(0 0 0 / 30%);
  padding: 0.5em;
}
